<!DOCTYPE HTML>
<html ng-app="chatroom">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body ng-controller="mainCtrl">
    <header class="head"></header>
    <img class="logo" src="https://d11a31vse2ifj1.cloudfront.net/case-studies/logos/_280x280_crop_center-center/devmtn-logo@2x.jpg" />
    <div class="main-container">
      <h1 class="content"> DevMountain Chat Room </h1>
      <h3 class="content">A simple parse powered no-so-private chat</h3>
      <form ng-submit="postMessage(message)">
        <input class="form-control text-box" type="text" ng-model="message" placeholder="Compose Message">
      </form>
      <div class="messages-container">
        <div>
          Messages from DevMountaineers
        </div>

        <p ng-repeat="message in messages ">
          {{message.message}} </p>
      </div>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/messageService.js"></script>
  </body>
</html>
